:root {
  --box-shadow: var(--primary);
}
.projects-grid{
  border-radius: 20px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.projects{
  height: 90vh;
  position: relative;
  top: 3rem;
  margin: 1rem;
}